* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;

}

/* body {
    overflow-x: hidden;
} */



.container_nav {
    padding: 1rem 8%;
    position: relative;
    background-image: url('/images/Healthy_Restaurant/min_img/hero-min.jpg');
    height: 80vh;
    /* width: 100%; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-position: center;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    /* padding: 15px 8%; */
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 165, 0);
}

nav .logo {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}


nav #menu {
    visibility: hidden;
}

nav #hamburger {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;

}

.line {
    width: 80%;
    height: 6px;
    background: rgb(255, 165, 0);
    border-radius: 5px;
}

#menu_mobile {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    transform: translate(100%, 0);
    background-color: rgba(255, 166, 0);
    padding: 25px 8%;
    height: 50vh;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, .05, 1.0);



}

.menu_show {
    transform: translate(50%, 0) !important;



}

#menu_mobile a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;

}

.hero {
    margin-top: 5rem;
}

.hero_title,
.hero_subtitle,
.hero_action-title {
    margin-bottom: 1.2rem;
    font-weight: 500;
    color: rgba(2, 2, 2, 0.74);
}

.hero_action-title {
    font-style: italic;
}

.hero_title {
    font-size: 3rem;
    font-weight: 600;
}

.hero_subtitle {
    font-size: 1.2rem;
}

button {
    padding: 8px 10px;
    font-size: .9rem;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 165, 0);

}

.hero button {
    padding: 8px 10px;
    font-size: .9rem;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 165, 0);

}

section {
    padding: 8%;
    width: 100%;
}

section .title {
    color: rgb(255, 165, 0);
}

section .header {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    text-overflow: ellipsis;
    color: rgb(41, 41, 41);
}



section .text_wrapper p {
    margin: 2rem 0;
    width: 90%;
    line-height: 35px;
}

@media only screen and (min-width: 798px) {
    section .text_wrapper p {
        margin: 2rem 0;
        width: 60%;
    }
}

section#story {
    position: relative;
    background-image: url('/images/Healthy_Restaurant/story.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;

}

/* section#featured_meals{

} */

.image_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.image_wrapper .image {
    /* width: 250px; */

    width: 100%;
    margin: 5px 10px;

}

@media only screen and (min-width: 942px) {
    .image_wrapper .image {
        width: 375px;
    }
}


.image_wrapper .image img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    object-fit: cover;



}

section#reservation {
    background-image: url('/images/Healthy_Restaurant/table-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
    object-fit: cover;
}

section .call_info {
    text-align: center;
    margin-top: 1.5rem;
}

.call_info h4 {
    font-weight: 500;
}

.phone_number {
    font-size: 2rem;
    color: rgb(255, 165, 0);
}

.fa-phone-alt {

    color: rgb(255, 165, 0);
    font-size: 1.5rem;
}

.hours_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

.hours {
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-top: .5rem;
    color:rgb(41, 41, 41);
}

@media only screen and (min-width: 800px) {
    .hours {
        font-size: 1.2rem;
    }
}

section#reservation .table {
    background-image: url('/images/Healthy_Restaurant/table-2-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin: 1.5rem auto;
}

@media only screen and (min-width: 800px) {
    section#reservation .table {
        background-image: url('/images/Healthy_Restaurant/table-1-min.jpg');
        height: 650px;
    }
}

section#reservation .text_wrapper {
    text-align: center;
}

footer {
    background: #eee;
    /* padding: 2rem 8%; */
    font-size: .6rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem 8%;
}

.footer_column .title {
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: .5rem;
}

.footer_row {
    margin: 1.3rem auto;
}

.footer-bottom {
    padding: 20px 5px;
    margin-top: 1rem;
    border-top: 1px solid rgb(224, 224, 224);
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .footer_column .title {
        font-size: 1.2rem;
    }

    .footer_row {
        font-size: .8rem;

    }

    .footer-bottom {
        font-size: .9rem;
    }

}

/* .overlay {
    position: absolute;
    height: 60vh;
    top: 0px;
    width: 100%;
    left: 0;
    background-color: rgba(2, 2, 2, 0.507);
} */